<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :external_reference %>
    <%= form.text_field :external_reference, id: :device_external_reference %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :device_lat %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng, id: :device_lng %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :device_location %>
  </div>

  <div class="field">
    <%= form.label :is_working %>
    <%= form.check_box :is_working, id: :device_is_working %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
