<p id="notice"><%= notice %></p>

<p>
  <strong>External:</strong>
  <%= @device.external_id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @device.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @device.lng %>
</p>

<p>
  <strong>Location:</strong>
  <%= @device.location %>
</p>

<p>
  <strong>Is working:</strong>
  <%= @device.is_working %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @device.comment %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
