<p id="notice"><%= notice %></p>

<p>
  <strong>External reference:</strong>
  <%= @device.external_reference %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @device.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @device.lng %>
</p>

<p>
  <strong>Location:</strong>
  <%= @device.location %>
</p>

<p>
  <strong>Is working:</strong>
  <%= @device.is_working %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
