<p id="notice"><%= notice %></p>

<h1>Cells</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>External reference</th>
      <th>Is working</th>
      <th>Is fill</th>
      <th>Is open</th>
      <th>Width</th>
      <th>Height</th>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cells.each do |cell| %>
      <tr>
        <td><%= cell.device %></td>
        <td><%= cell.external_reference %></td>
        <td><%= cell.is_working %></td>
        <td><%= cell.is_fill %></td>
        <td><%= cell.is_open %></td>
        <td><%= cell.width %></td>
        <td><%= cell.height %></td>
        <td><%= cell.length %></td>
        <td><%= link_to 'Show', cell %></td>
        <td><%= link_to 'Edit', edit_cell_path(cell) %></td>
        <td><%= link_to 'Destroy', cell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cell', new_cell_path %>
